/* // Duncan Echols-Jones
// 4/3/2020 */

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sent-message-div, .incoming-message-div {
    margin-top: 15px;
    border: .5px solid lightgray;
    border-radius: 5px;
}
