/* // Duncan Echols-Jones
// 4/3/2020 */

.unlogged-message {
    margin-top: 30px;
    text-align: center;
}

.profile-card, .other-user-condition-card {
    width: 18rem;
    text-align: center;
}

.message-div, .message-center-jumbotron .row {
    text-align: center;
    justify-content: center;
    align-items: center;
}