.unlogged-message {
    margin-top: 30px;
    text-align: center;
}

.profile-card {
    width: 18rem;
    text-align: center;
}

.message-div, .message-center-jumbotron .row {
    text-align: center;
    justify-content: center;
    align-items: center;
}