.login-container {
    background-image: url('background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fail-row {
    background-color: lightcoral;
    justify-content: center;
}

